<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/06fcb987e4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

    <%- include('../partials/sidebar.ejs') %>

        <main class="main-container">
            <nav class="topbar">
                <%- include('../partials/prev-next-btn.ejs') %>
                    <%- include('../partials/topnav.ejs') %>
            </nav>

            <section class="content-container">
                <p> Songs </p>
                <section class="home-container">
                    <% songResults.forEach(song=> { %>
                        <div class="home-item">
                            <img src="<%= song.image %>" />
                            <h4>
                                <%= song.name %>
                            </h4>
                            <p>
                                <%= song.artist %>
                            </p>
                        </div>
                        <% } ); %>
                </section>
                <p> Playlist</p>
                <section class="home-container">
                    <% playlistResults.forEach(list=> { %>
                        <div class="home-item">
                            <img src= <%= list.playlist_image%>>
                            <h4>
                                <%= list.name %>
                            </h4>
                            <p>
                                <%= list.startHour %> to <%= list.endHour %>
                            </p>
                        </div>
                        <% }); %>
               
            </section>
        </main>
</body>

</html>